nav {
  border: 1px solid #ffffff20;
  border-radius: 10px;
  background-color: #202020;
  font-size: 17px;
  text-align: center;
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
}

.active-left {
  background-color: #ffffff30;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.active-right {
  background-color: #ffffff30;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

nav > div:nth-child(2) {
  border-left: 1px solid #303030;
}

nav > div {
  cursor: pointer;
  padding: 7px 20px 7px 20px;
}
