.site-elem {
  display: flex;
  padding-top: 20px;
}

h2 {
  width: 200px;
}

.bars-container {
  height: 25px;
}

.bars {
  height: 25px;
  border-radius: 8px;
  width: 0px;
  transition: width 3s ease;
}
