@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans&display=swap);

* {
  margin: 0;
  color: white;
}
body {
  background-color: #121212;
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 400px;
  min-width: 700px;
}

.power-off {
  filter: blur(100px);
  background-color: blue;
  position: absolute;
  width: 700px;
  height: 400px;
}
